/*
 * Main Dial Colors
 */
.tickColor {
    fill: #c7c7c7;
}
.subMinuteTickColor {
    fill: #b8b8b8;
}
.fiveMinuteOuterColor {
    fill: #f47c47;
}
.fiveMinuteInnerColor {
    fill: #b8b8b8;
}
.quarterHourColor {
    fill: #f47c47;
}
.minuteHandColor {
    fill: white;
}
.secondHandColor {
    fill: #f47c47;
}
.miniHandLColor {
    fill: white;
}
.miniHandRColor {
    fill: #f47c47;
}
.miniHandBColor {
    fill: #f47c47;
}
.handDotColor {
    fill: black;
}
.faceColor {
    fill: #505050;
}
.bezelColor {
    fill: #6f1a21;
}
/*
 * Mini Dial Colors
 */
.miniDialColor {
    fill: #484848;
}
.miniDialTextColor {
    fill: #c7c7c7;
}
.dateTextColor {
    fill: black;
}
.dateBackgroundColor {
    fill: #A0A0A0;
}
.hrFatBurnColor {
    fill: green;
}
.hrCardioColor {
    fill: goldenrod;
}
.hrPeakColor {
    fill: firebrick;
}

/*
 * Status colors
 */
.statsIconColor {
    fill: #f47c47;
}
.statsTextColor {
    fill: #c7c7c7;
}
/*
 * Main dial
 */
.maindialtwelve {
    y: -49%;
    width: 2;
    height: 25;
}

.mainDialQuarter {
    x: 0%-3;
    y: -50%;
    width: 8;
    height: 15;
}

.mainDialFiveOuter {
    x: 0%-3;
    y: -50%;
    width: 7;
    height: 15;
}

.mainDialFiveInner {
    x: 0%-3;
    y: -50%+28;
    width: 7;
    height: 17;
}

.mainDialTwelveInner {
    x: 0%-3;
    y: -50%+28;
    width: 7;
    height: 25;
}

.mainDialMinute {
    x: 0%;
    y: -50%;
    width: 1;
    height: 24;
}

.mainDialHalfMinute {
    x: 0%;
    y: -50%;
    width: 1;
    height: 12;
}

/*
 * Stats
 */
.statsIcon {
    width: 36;
    height: 36;
    x: 50%-18;
    y: 0;
}
.statsField {
    x: 50%;
    y: 55%;
    font-family: Seville-Bold;
    font-size: 24;
    text-anchor: middle;
}
/*
 * 24 hour mini-dial
 */
.hourmarker8text {
    x: 30%;
    y: +21%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}

.hourmarker16text {
    x: -27%;
    y: +21%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}

.hourmarker24text {
    x: 0%;
    y: -27%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}

.hourmarker24tickS {
    x: 0%;
    y: -45%;
    width: 2;
    height: 4;
}

.hourmarker24tickL {
    x: 0%;
    y: -45%;
    width: 1;
    height: 15;
}

/*
 * Day of week and date mini-dial
 */
.weekDialTickS {
    x: 0%;
    y: -45%;
    width: 2;
    height: 4;
}
.weekDialTickL {
    x: 0%;
    y: -45%;
    width: 1;
    height: 15;
}
.weekDialText {
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}
.weekDialSunText {
    x: 0%;
    y: -27%;
}
.weekDialTueText {
    x: 24%;
    y: 10%;
}
.weekDialFriText {
    x: -28%;
    y: 10%;
}
.dateText {
    x: 0;
    y: +25%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
    text-length: 4;
}


/*
 * Heart Rate mini-dial
 */
.hrMarkerTickS {
    x: 0%;
    y: -45%;
    width: 2;
    height: 4;
}
.hrMarkerTickL {
    x: 0%;
    y: -45%;
    width: 1;
    height: 15;
}
.hrResting {
    x: 0%;
    y: -45%;
    width: 3;
    height: 15;
}
.hrMax {
    x: 0%;
    y: -45%;
    width: 3;
    height: 15;
}
.hrDial40Text {
    x: -19%;
    y: +30%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}
.hrDial80Text {
    x: -29%;
    y: -5%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}
.hrDial120Text {
    x: 0%;
    y: -27%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}
.hrDial160Text {
    x: 25%;
    y: -5%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}
.hrDial200Text {
    x: 18%;
    y: +30%;
    font-family: Seville-Regular;
    font-size: 18;
    text-anchor: middle;
}