Fitbit Studio
Built
Download
SimulatorVersa 3 Simulator
                 RunScreenshot
                 Help

                 white
10
fill: #6f1a21;
11
}
12
​
13
​
14
/*
15
 * Main dial
16
 */
17
​
18
.minuteTickColor {
  19
  fill: red; /* #c7c7c7; */
  20
}
21
.subMinuteColor {
  22
  fill: #b8b8b8;
  23
}
24
.fiveMinuteOuterColor {
  25
  fill: #f47c47;
  26
}
27
.fiveMinuteInnerColor {
  28
  fill: #b8b8b8;
  29
}
30
.quarterHourColor {
  31
  fill: #f47c47;
  32
}
33
.minuteHandColor {
  34
  fill: white;
  35
}
36
.secondHandColor {
  37
  fill: #cc0000;
  38
}
39
.faceColor {
  40
  fill: #505050;
  41
}
42
.bezelColor {
  43
  fill: #6f1a21;
  44
}
45
​
46
.maindialtwelve {
  47
  y: -49%;
  48
  width: 2;
  49
  height: 25;
  50
}
51
​
52
.mainDialQuarter {
  53
  x: 0%-3;
  54
  y: -50%;
  55
  width: 8;
  56
  height: 15;
  57
}
58
​
59
.mainDialFiveOuter {
  60
  x: 0%-3;
  Console
  Build Output

  [10:16:30 AM]Sideload successful![HOST][10:16:30 AM]App Closedmnt/sysassets/widgets/cycleview_widget.defs:13,1[10:16:30 AM]Error 22 Conflicting use of attribute 'data-size' in cycleview-item[HOST][10:16:30 AM]App Startedapp/index.js:188,1[10:16:30 AM]js memory: 23672/262136 peak:23752app/index.js:188,1[10:16:30 AM]native memory: 0/1 peak:0
  User: Jenson Crawford (jensoncrawford@gmail.com)
Project: Omega Speedmaster Tribute
